######  Web scrapping from cardekho.com

In [120]:
import pandas as pd
import numpy as pd
import time
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [121]:
driver = webdriver.Chrome(r'C:\Users\prath\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

C:\Users\prath\AppData\Local\Temp\ipykernel_1392\437299702.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\prath\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [122]:
url = "https://www.cardekho.com/"
driver.get(url)
time.sleep(2)

In [123]:
Used_cars=driver.find_element(By.XPATH,'//li[@data-slug="/usedCars"]/a').get_attribute('href')
driver.get(Used_cars)
time.sleep(2)

###### Data from Bangalore city

In [124]:
url = "https://www.cardekho.com/used-cars+in+bangalore"
driver.get(url)
time.sleep(2)

In [125]:
from tqdm import tqdm
for _ in tqdm(range(0,300)):
    time.sleep(0.75)
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|████████████████████████████████████████████████████████████████████████████████| 300/300 [12:30<00:00,  2.50s/it]

In [126]:
Car_url_bangalore = []
car_url_bangalore = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')   
for j in tqdm(range(len(car_url_bangalore))):
    Car_url_bangalore.append(car_url_bangalore[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████| 1677/1677 [01:00<00:00, 27.93it/s]

In [127]:
len(Car_url_bangalore)

1677

######  Data from Ahmedabad city

In [128]:
url = "https://www.cardekho.com/used-cars+in+ahmedabad"
driver.get(url)
time.sleep(2)

In [129]:
from tqdm import tqdm
for _ in tqdm(range(0,200)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|████████████████████████████████████████████████████████████████████████████████| 200/200 [05:07<00:00,  1.54s/it]

In [130]:
Car_url_ahmedabad = []
car_url_ahmedabad = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')   
for j in tqdm(range(len(car_url_ahmedabad))):
    Car_url_ahmedabad.append(car_url_ahmedabad[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 82.46it/s]

In [131]:
len(Car_url_ahmedabad)

20

###### Data from Dehli-NCR

In [132]:
url = "https://www.cardekho.com/used-cars+in+delhi-ncr"
driver.get(url)
time.sleep(2)

In [133]:
from tqdm import tqdm
for _ in tqdm(range(0,1100)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1500)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-500)")

100%|████████████████████████████████████████████████████████████████████████████| 1100/1100 [1:35:52<00:00,  5.23s/it]

In [134]:
Car_url_delhi_ncr = []
car_url_delhi_ncr = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')   
for j in tqdm(range(len(car_url_delhi_ncr))):
    Car_url_delhi_ncr.append(car_url_delhi_ncr[j].get_attribute('href'))
time.sleep(2)

100%|████████████████████████████████████████████████████████████████████████████| 3853/3853 [1:42:42<00:00,  1.60s/it]

In [135]:
len(Car_url_delhi_ncr)

3853

###### Data  from Chennai

In [136]:
url = "https://www.cardekho.com/used-cars+in+chennai"
driver.get(url)
time.sleep(2)

In [137]:
from tqdm import tqdm
for _ in tqdm(range(0,250)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|████████████████████████████████████████████████████████████████████████████████| 250/250 [06:59<00:00,  1.68s/it]

In [138]:
Car_url_chennai = []
car_url_chennai = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')   
for j in tqdm(range(len(car_url_chennai))):
    Car_url_chennai.append(car_url_chennai[j].get_attribute('href'))
time.sleep(2)

100%|████████████████████████████████████████████████████████████████████████████████| 994/994 [00:15<00:00, 65.73it/s]

In [139]:
len(Car_url_chennai)

994

###### Data from Gurgaon city

In [140]:
url = "https://www.cardekho.com/used-cars+in+gurgaon"
driver.get(url)
time.sleep(2)

In [141]:
from tqdm import tqdm
for _ in tqdm(range(0,600)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1500)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-500)")

100%|████████████████████████████████████████████████████████████████████████████████| 600/600 [18:33<00:00,  1.86s/it]

In [142]:
Car_url_gurgaon = []
car_url_gurgaon = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')   
for j in tqdm(range(len(car_url_gurgaon))):
    Car_url_gurgaon.append(car_url_gurgaon[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████| 1389/1389 [00:39<00:00, 35.59it/s]

In [143]:
len(Car_url_gurgaon)

1389

###### Data from Telangana

In [144]:
url = "https://www.cardekho.com/used-cars+in+telangana"
driver.get(url)
time.sleep(2)

In [145]:
from tqdm import tqdm
for _ in tqdm(range(0,400)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1500)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-500)")

100%|████████████████████████████████████████████████████████████████████████████████| 400/400 [12:09<00:00,  1.82s/it]

In [146]:
Car_url_telangana = []
car_url_telangana = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')   
for j in tqdm(range(len(car_url_telangana))):
    Car_url_telangana.append(car_url_telangana[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████| 1108/1108 [00:22<00:00, 49.34it/s]

In [147]:
len(Car_url_telangana)

1108

###### Data from Maharashtra

In [175]:
url = "https://www.cardekho.com/used-cars+in+maharashtra"
driver.get(url)
time.sleep(2)

In [176]:
from tqdm import tqdm
for _ in tqdm(range(0,1000)):
    driver.execute_script("window.scrollBy(0,1500)","")
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,-500)")

100%|████████████████████████████████████████████████████████████████████████████| 1000/1000 [1:32:03<00:00,  5.52s/it]

In [177]:
Car_url_Maharashtra = []
car_url_Maharashtra = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')   
for j in tqdm(range(len(car_url_Maharashtra))):
    Car_url_Maharashtra.append(car_url_Maharashtra[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████| 4713/4713 [11:28<00:00,  6.84it/s]

In [178]:
len(Car_url_Maharashtra)

4713

###### Data from Karnataka

In [151]:
url = "https://www.cardekho.com/used-cars+in+karnataka"
driver.get(url)
time.sleep(2)

In [152]:
from tqdm import tqdm
for _ in tqdm(range(0,750)):
   
    driver.execute_script("window.scrollBy(0,1500)","")
    time.sleep(0.4)
    driver.execute_script("window.scrollBy(0,-500)")

100%|████████████████████████████████████████████████████████████████████████████████| 750/750 [18:22<00:00,  1.47s/it]

In [153]:
Car_url_Karnataka = []
car_url_Karnataka = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')   
for j in tqdm(range(len(car_url_Karnataka))):
    Car_url_Karnataka.append(car_url_Karnataka[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████| 1929/1929 [01:07<00:00, 28.73it/s]

In [154]:
len(Car_url_Karnataka)

1929

###### Data from Uttar Pradesh

In [155]:
url = "https://www.cardekho.com/used-cars+in+uttar-pradesh"
driver.get(url)
time.sleep(2)

In [156]:
from tqdm import tqdm
for _ in tqdm(range(0,700)):
    driver.execute_script("window.scrollBy(0,1500)","")
    time.sleep(0.25)
    driver.execute_script("window.scrollBy(0,-500)")

100%|██████████████████████████████████████████████████████████████████████████████| 700/700 [1:00:12<00:00,  5.16s/it]

In [157]:
Car_url_UttarPradesh = []
car_url_UttarPradesh = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')   
for j in tqdm(range(len(car_url_UttarPradesh))):
    Car_url_UttarPradesh.append(car_url_UttarPradesh[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████| 2765/2765 [37:53<00:00,  1.22it/s]

In [158]:
len(Car_url_UttarPradesh)

2765

###### Data from Tamil Nadu

In [159]:
url = "https://www.cardekho.com/used-cars+in+tamil-nadu"
driver.get(url)
time.sleep(2)

In [160]:
from tqdm import tqdm
for _ in tqdm(range(0,600)):
    driver.execute_script("window.scrollBy(0,1500)","")
    time.sleep(0.25)
    driver.execute_script("window.scrollBy(0,-500)")

100%|████████████████████████████████████████████████████████████████████████████████| 600/600 [10:42<00:00,  1.07s/it]

In [161]:
Car_url_TamilNadu = []
car_url_TamilNadu = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')   
for j in tqdm(range(len(car_url_TamilNadu))):
    Car_url_TamilNadu.append(car_url_TamilNadu[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████| 1524/1524 [00:39<00:00, 38.83it/s]

In [162]:
len(Car_url_TamilNadu)

1524

###### Data from Haryana

In [163]:
url = "https://www.cardekho.com/used-cars+in+haryana"
driver.get(url)
time.sleep(2)

In [164]:
from tqdm import tqdm
for _ in tqdm(range(0,600)):
    
    driver.execute_script("window.scrollBy(0,1500)","")
    time.sleep(0.25)
    driver.execute_script("window.scrollBy(0,-500)")

100%|████████████████████████████████████████████████████████████████████████████████| 600/600 [12:33<00:00,  1.26s/it]

In [165]:
Car_url_Haryana = []
car_url_Haryana = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')   
for j in tqdm(range(len(car_url_Haryana))):
    Car_url_Haryana.append(car_url_Haryana[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████| 1219/1219 [00:24<00:00, 49.23it/s]

In [166]:
len(Car_url_Haryana)

1219

###### Data from Rajasthan

In [167]:
url = "https://www.cardekho.com/used-cars+in+rajasthan"
driver.get(url)
time.sleep(2)

In [168]:
from tqdm import tqdm
for _ in tqdm(range(0,500)):
  
    driver.execute_script("window.scrollBy(0,1500)","")
    time.sleep(0.25)
    driver.execute_script("window.scrollBy(0,-500)")

100%|████████████████████████████████████████████████████████████████████████████████| 500/500 [15:59<00:00,  1.92s/it]

In [169]:
Car_url_Rajasthan = []
car_url_Rajasthan = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')   
for j in tqdm(range(len(car_url_Rajasthan))):
    Car_url_Rajasthan.append(car_url_Rajasthan[j].get_attribute('href'))
time.sleep(2)

100%|██████████████████████████████████████████████████████████████████████████████| 1499/1499 [01:32<00:00, 16.14it/s]

In [170]:
len(Car_url_Rajasthan)

1499

###### Data from Kerala

In [171]:
url = "https://www.cardekho.com/used-cars+in+kerala"
driver.get(url)
time.sleep(2)

In [172]:
from tqdm import tqdm
for _ in tqdm(range(0,400)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1500)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-500)")

100%|████████████████████████████████████████████████████████████████████████████████| 400/400 [10:29<00:00,  1.57s/it]

In [173]:
Car_url_Kerala = []
car_url_Kerala = driver.find_elements(By.XPATH,'//div[@class="gsc_col-xs-7  carsName"]/a')   
for j in tqdm(range(len(car_url_Kerala))):
    Car_url_Kerala.append(car_url_Kerala[j].get_attribute('href'))
time.sleep(2)

100%|████████████████████████████████████████████████████████████████████████████████| 298/298 [00:03<00:00, 89.03it/s]

In [174]:
len(Car_url_Kerala)

298

### Creating Excel file

In [179]:
import pandas as pd

In [180]:
Car_url = []

In [181]:
Car_url = Car_url_Kerala + Car_url_Rajasthan + Car_url_Haryana + Car_url_TamilNadu + Car_url_UttarPradesh + Car_url_Karnataka  + Car_url_telangana + Car_url_bangalore + Car_url_chennai + Car_url_delhi_ncr + Car_url_gurgaon + Car_url_ahmedabad

In [182]:
len(Car_url)

18275

In [183]:
Car_URL = pd.DataFrame({})
Car_URL['Urls'] = Car_url

In [184]:
Car_URL.to_excel('Car_url.xlsx', index = False)

In [185]:
df = pd.read_excel('Car_url.xlsx')

### scraping  used car details

In [186]:
# Making Empty lists
Location = []
Model = []
Variant = []
Price = []
Make_year =[]
Fuel_Type = []
KMs_driven = []
Engine_displacement = []
Transmission = []
Milage = []
Max_power = []
Torque = []
Seats = []
Color = []
Gear_Box =[]
Steering_Type =[]
Front_Brake_Type = []
Rear_Brake_Type = []
Tyre_Volume = []
Cargo_volume = []
Engine_Type = []
No_of_cylinder = []
Value_Configuration = []
Fuel_Suppy_System = []
Turbo_charger = []
Super_charger = []
Length = []
Width =[]
Height = []
Gross_weight = []

In [222]:
from tqdm import tqdm
for i in tqdm(df['Urls'][1:18000]):
    driver.get(i)
    time.sleep(0.5)
    
    # Extracting Car Model via xpath
    try :
        model = driver.find_element(By.XPATH,'//div[@class="gsc_col-xs-12"]/h1')
        Model.append(model.text[5:])
    except NoSuchElementException:
        try :
            model = driver.find_element(By.XPATH,'//div[@class="gsc_container_hold"]/div/h1[2]')
            Model.append(model.text)  
        except NoSuchElementException:
            pass
        
    #clicking to view all specifications
    try:
        view_more = driver.find_element(By.XPATH,"//*[text() = 'View All Specifications' or text() = 'View More']")
        driver.execute_script("arguments[0].scrollIntoView();", view_more)
        driver.execute_script("arguments[0].click();", view_more)
        
    except NoSuchElementException:
        try:
            Button= driver.find_element(By.XPATH,'//*[@id="topspec"]/div[2]/a')
            Button.click()
            time.sleep(1)
        except NoSuchElementException:
            pass
    
    time.sleep(0.75)
    # Extracting Car Price via xpath
    try :
        price = driver.find_element(By.XPATH,'//div[@class="priceSection"]/span[2]')
        Price.append(price.text)
    except NoSuchElementException:
        try :
            price = driver.find_element(By.XPATH,'//div[@class="gsc_container_hold"]/span[1]/span')
            Price.append(price.text)
        except NoSuchElementException:
            pass
        
    # Extracting Car Make Year via xpath
    try :
        year = driver.find_element(By.XPATH,'//*[text()="Make Year"]/following-sibling::div')
        Make_year.append(year.text)      
    except NoSuchElementException:
        try :
            year = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[1]/div/div')
            Make_year.append(year.text)
        except NoSuchElementException:
            pass
    
    # Extracting Car Fuel Type via xpath
    try :
        fuel = driver.find_element(By.XPATH,'//*[text()="Fuel"]/following-sibling::div')
        Fuel_Type.append(fuel.text)
    except NoSuchElementException:
        try :
            fuel = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[5]/div/div')
            Fuel_Type.append(fuel.text)
        except NoSuchElementException:
            Fuel_Type.append('-')
    
    # Extracting KMS driven via xpath
    try :
        kms = driver.find_element(By.XPATH,'//*[text()="KMs Driven"]/following-sibling::div')
        KMs_driven.append(kms.text.replace('Kms',''))
    except NoSuchElementException:
        try :
            kms = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[3]/div/div')
            KMs_driven.append(kms.text.replace('Kms',''))
        except NoSuchElementException:
            pass
    
    # Extracting Engine_displacemet via xpath
    try :
        engine_disp = driver.find_element(By.XPATH,'//*[text()="Engine Displacement"]/following-sibling::div')
        Engine_displacement.append(engine_disp.text.replace('CC',''))   
    except NoSuchElementException:
        try :
            engine_disp = driver.find_element(By.XPATH,'//*[text()="Engine"]/following-sibling::div')
            Engine_displacement.append(engine_disp.text.replace('CC',''))
        except NoSuchElementException:
            pass
    
    # Extracting Transmission via xpath
    try :
        transmission = driver.find_element(By.XPATH,'//*[text()="Transmission"]/following-sibling::div')
        Transmission.append(transmission.text)
    except NoSuchElementException:
        try :
            transmission = driver.find_element(By.XPATH,'//div[@class="GenDetailBox"]/ul/li[6]/div/div')
            Transmission.append(transmission.text)
        except NoSuchElementException:
            pass
    time.sleep(0.25)
    # Extracting Milage via xpath
    try :
        milage = driver.find_element(By.XPATH,'//*[text()="Mileage"]/following-sibling::div')
        Milage.append(milage.text.replace('kmpl',''))
        
    except NoSuchElementException:
        Milage.append('-')
    
    # Extracting Max_power via xpath
    try :
        maxbhp = driver.find_element(By.XPATH,'//*[text()="Max Power"]/following-sibling::div')
        Max_power.append(maxbhp.text.replace('bhp',''))
        
    except NoSuchElementException:
        Max_power.append('-')
    
   # Extracting Torque via xpath
    try :
        torque = driver.find_element(By.XPATH,'//*[text()="Torque"]/following-sibling::div')
        Torque.append(torque.text.replace('Nm',''))
        
    except NoSuchElementException:
        Torque.append('-') 
    
    # Extracting Seating capacity via xpath
    try :
        seats = driver.find_element(By.XPATH,'//*[text()="Seating Capacity"]/following-sibling::div')
        Seats.append(seats.text)
        
    except NoSuchElementException:
        Seats.append('-') 
        
    # Extracting color via xpath
    try :
        color = driver.find_element(By.XPATH,'//*[text()="Color"]/following-sibling::div')
        Color.append(color.text)    
    except NoSuchElementException:
        Color.append('-')
    
    # Extracting Gear_Box via xpath
    try :
        gear_Box = driver.find_element(By.XPATH,'//*[text()="Gear Box"]/following-sibling::div')
        Gear_Box.append(gear_Box.text)
        
    except NoSuchElementException:
        Gear_Box.append('-')
    
    # Extracting Steering_Type via xpath
    try :
        steering_Type = driver.find_element(By.XPATH,'//*[text()="Steering Type"]/following-sibling::div')
        Steering_Type.append(steering_Type.text)
        
    except NoSuchElementException:
        Steering_Type.append('-')
    
    # Extracting Front_Brake_Type via xpath
    try :
        front_Brake_Type = driver.find_element(By.XPATH,'//*[text()="Front Brake Type"]/following-sibling::div')
        Front_Brake_Type.append(front_Brake_Type.text)
        
    except NoSuchElementException:
        Front_Brake_Type.append('-')
    
    # Extracting Rear_Brake_Type via xpath
    try :
        rear_Brake_Type = driver.find_element(By.XPATH,'//*[text()="Rear Brake Type"]/following-sibling::div')
        Rear_Brake_Type.append(rear_Brake_Type.text)
        
    except NoSuchElementException:
        Rear_Brake_Type.append('-')
    
   # Extracting Tyre_Volume via xpath
    try :
        tyre_Volume = driver.find_element(By.XPATH,'//*[text()="Tyre Type"]/following-sibling::div')
        Tyre_Volume.append(tyre_Volume.text)
        
    except NoSuchElementException:
        Tyre_Volume.append('-')
    
    # Extracting Engine_Type via xpath
    try :
        engine_Type = driver.find_element(By.XPATH,'//*[text()="Engine Type"]/following-sibling::div')
        Engine_Type.append(engine_Type.text)
        
    except NoSuchElementException:
        Engine_Type.append('-')
    
    # Extracting No_of_cylinder via xpath
    try :
        no_of_cylinder = driver.find_element(By.XPATH,'//*[text()="No of Cylinder"]/following-sibling::div')
        No_of_cylinder.append(no_of_cylinder.text) 
    except NoSuchElementException:
        try :
            no_of_cylinder = driver.find_element(By.XPATH,'//*[text()="No Of Cylinder"]/following-sibling::div')
            No_of_cylinder.append(no_of_cylinder.text)
        except NoSuchElementException:
            pass
    
    # Extracting Value_Configuration via xpath
    try :
        value_Configuration = driver.find_element(By.XPATH,'//*[text()="Value Configuration"]/following-sibling::div')
        Value_Configuration.append(value_Configuration.text)    
    except NoSuchElementException:
        try :
            value_Configuration = driver.find_element(By.XPATH,'//*[text()="Valve Configuration"]/following-sibling::div')
            Value_Configuration.append(value_Configuration.text)  
        except NoSuchElementException:
            pass
        
    # Extracting Turbo_charger via xpath
    try :
        turbo_charger = driver.find_element(By.XPATH,'//*[text()="Turbo Charger"]/following-sibling::div')
        Turbo_charger.append(turbo_charger.text)
        
    except NoSuchElementException:
        Turbo_charger.append('-')
    
    # Extracting Super_charger via xpath
    try :
        super_charger = driver.find_element(By.XPATH,'//*[text()="Super Charger"]/following-sibling::div')
        Super_charger.append(super_charger.text)    
    except NoSuchElementException:
        try :
            super_charger = driver.find_element(By.XPATH,'//*[text()="superCharger"]/following-sibling::div')
            Super_charger.append(super_charger.text)   
        except NoSuchElementException:
            Super_charger.append('-')
    
    # Extracting Length via xpath
    try :
        length = driver.find_element(By.XPATH,'//*[text()="Length"]/following-sibling::div')
        Length.append(length.text.replace('mm',''))
        
    except NoSuchElementException:
        Length.append('-')
    
    # Extracting Width via xpath
    try :
        width = driver.find_element(By.XPATH,'//*[text()="Width"]/following-sibling::div')
        Width.append(width.text.replace('mm',''))
        
    except NoSuchElementException:
        Width.append('-')
    
    # Extracting Height via xpath
    try :
        height = driver.find_element(By.XPATH,'//*[text()="Height"]/following-sibling::div')
        Height.append(height.text.replace('mm',''))
        
    except NoSuchElementException:
        Height.append('-')

100%|█████████████████████████████████████████████████████████████████████████| 17999/17999 [12:41:44<00:00,  2.54s/it]

In [223]:
data = list(zip(Model, Make_year, Fuel_Type, KMs_driven, Engine_displacement, Transmission, Milage,
              Max_power, Torque, Seats, Color, Gear_Box, Steering_Type, Front_Brake_Type, Rear_Brake_Type,
              Tyre_Volume, Engine_Type, No_of_cylinder,
              Turbo_charger, Super_charger, Length, Width, Height, Price))
Batch = pd.DataFrame(data, columns=['Car Model', 'Make Year', 'Fuel Type', 'KMs driven', 'Engine Displacement(CC)',
                                   'Transmission', 'Milage(kmpl)', 'Max Power(bhp)', 'Torque(Nm)', 'Seating Capacity',
                                   'Color', 'Gear Box', 'Steering Type', 'Front Brake Type', 'Rear Brake Type',
                                    'Tyre Volume', 'Engine Type', 'No of Cylinder', 
                                    'Turbo Charger', 'Super Charger', 'Length(mm)', 'Width(mm)',
                                   'Height(mm)', 'Price(Rs)'])

pd.set_option('display.max_columns', None)
Batch.head(5)

,Car Model,Make Year,Fuel Type,KMs driven,Engine Displacement(CC),Transmission,Milage(kmpl),Max Power(bhp),Torque(Nm),Seating Capacity,Color,Gear Box,Steering Type,Front Brake Type,Rear Brake Type,Tyre Volume,Engine Type,No of Cylinder,Turbo Charger,Super Charger,Length(mm),Width(mm),Height(mm),Price(Rs)
0,Volkswagen Jetta 1.6 Tdi,2010,Diesel,"90,000 Kms",1596,Manual,15.5,105,25.5,,Blue,6 Speed,Power,-,-,,In-Line Engine,4,Yes,,"4,554",,,4.90 Lakh*
1,Honda City Vtec,2007,Petrol,"57,000 Kms",1493,Manual,16,106,13.5 kgm,,Golden,5 Speed,Power,,,,In-Line Engine,4,No,No,4270,,1395,3.10 Lakh*
2,Audi A4 2.0 Tdi,2013,Diesel,"66,000 Kms",1968,Automatic,16.55,147.51,320,,White,7 Speed,Power,Ventilated Disc,,,TDI Diesel Engine,4,Yes,No,4701,2040,1427,15.75 Lakh*
3,Tata Harrier Xz Dual Tone,2021,Diesel,"16,000 Kms",1956,Manual,16.35,167.67,350nm,,Red,6-Speed,,Disc,Drum,"Tubeless, Radial",,,,-,,1894,1706,21.50 Lakh*
4,Skoda Octavia Classic 1.9 Tdi Mt,2007,Diesel,"1,10,000 Kms",1896,Manual,18.7,66(90) / 4000,210 / 1900,5,Grey,5 Speed,,Disc,Drum,"Tubeless,Radial",,,,No,,1731,1455,2.49 Lakh*

In [225]:
Batch.shape

(21011, 24)

In [226]:
# Saving Batch1 data in excel file
Batch.to_excel('Batch of all cars.xlsx', index = False)

In [227]:
Batch

,Car Model,Make Year,Fuel Type,KMs driven,Engine Displacement(CC),Transmission,Milage(kmpl),Max Power(bhp),Torque(Nm),Seating Capacity,Color,Gear Box,Steering Type,Front Brake Type,Rear Brake Type,Tyre Volume,Engine Type,No of Cylinder,Turbo Charger,Super Charger,Length(mm),Width(mm),Height(mm),Price(Rs)
0,Volkswagen Jetta 1.6 Tdi,2010,Diesel,"90,000 Kms",1596,Manual,15.5,105,25.5,,Blue,6 Speed,Power,-,-,,In-Line Engine,4,Yes,,"4,554",,,4.90 Lakh*
1,Honda City Vtec,2007,Petrol,"57,000 Kms",1493,Manual,16,106,13.5 kgm,,Golden,5 Speed,Power,,,,In-Line Engine,4,No,No,4270,,1395,3.10 Lakh*
2,Audi A4 2.0 Tdi,2013,Diesel,"66,000 Kms",1968,Automatic,16.55,147.51,320,,White,7 Speed,Power,Ventilated Disc,,,TDI Diesel Engine,4,Yes,No,4701,2040,1427,15.75 Lakh*
3,Tata Harrier Xz Dual Tone,2021,Diesel,"16,000 Kms",1956,Manual,16.35,167.67,350nm,,Red,6-Speed,,Disc,Drum,"Tubeless, Radial",,,,-,,1894,1706,21.50 Lakh*
4,Skoda Octavia Classic 1.9 Tdi Mt,2007,Diesel,"1,10,000 Kms",1896,Manual,18.7,66(90) / 4000,210 / 1900,5,Grey,5 Speed,,Disc,Drum,"Tubeless,Radial",,,,No,,1731,1455,2.49 Lakh*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21006,Maruti Ertiga Shvs Zdi Plus,2021,Diesel,"8,000 Kms",1991,Automatic,17.09,261.4,620,,White,8 Speed,,,,,,,,,,,,59 Lakh*
21007,Tata Tigor Xz Plus,2018,Petrol,"85,474 Kms",1451,Manual,16.8,116.3,146,,Black,5 Speed,,,,,,,,,,,,4.83 Lakh*
21008,Maruti Swift Amt Zdi,2018,Petrol,"35,000 Kms",2199,Automatic,15,194.44,320,,White,9 Speed,,,,,,,-,-,,,,83 Lakh*
21009,Maruti Swift Dzire Lxi,2020,Petrol,"15,000 Kms",1582,Manual,21.4,83.1,115,,Blue,5 Speed,,,,,,,,,,,,13.10 Lakh*
21010,Hyundai Santro Xing Xo,2019,Diesel,"59,000 Kms",1462,Automatic,11,258,620,,White,9 Speed,,,,,,,,,,,,26.95 Lakh*

In [231]:
Batch1 = Batch[0:10000]

In [232]:
Batch1

,Car Model,Make Year,Fuel Type,KMs driven,Engine Displacement(CC),Transmission,Milage(kmpl),Max Power(bhp),Torque(Nm),Seating Capacity,Color,Gear Box,Steering Type,Front Brake Type,Rear Brake Type,Tyre Volume,Engine Type,No of Cylinder,Turbo Charger,Super Charger,Length(mm),Width(mm),Height(mm),Price(Rs)
0,Volkswagen Jetta 1.6 Tdi,2010,Diesel,"90,000 Kms",1596,Manual,15.5,105,25.5,,Blue,6 Speed,Power,-,-,,In-Line Engine,4,Yes,,"4,554",,,4.90 Lakh*
1,Honda City Vtec,2007,Petrol,"57,000 Kms",1493,Manual,16,106,13.5 kgm,,Golden,5 Speed,Power,,,,In-Line Engine,4,No,No,4270,,1395,3.10 Lakh*
2,Audi A4 2.0 Tdi,2013,Diesel,"66,000 Kms",1968,Automatic,16.55,147.51,320,,White,7 Speed,Power,Ventilated Disc,,,TDI Diesel Engine,4,Yes,No,4701,2040,1427,15.75 Lakh*
3,Tata Harrier Xz Dual Tone,2021,Diesel,"16,000 Kms",1956,Manual,16.35,167.67,350nm,,Red,6-Speed,,Disc,Drum,"Tubeless, Radial",,,,-,,1894,1706,21.50 Lakh*
4,Skoda Octavia Classic 1.9 Tdi Mt,2007,Diesel,"1,10,000 Kms",1896,Manual,18.7,66(90) / 4000,210 / 1900,5,Grey,5 Speed,,Disc,Drum,"Tubeless,Radial",,,,No,,1731,1455,2.49 Lakh*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Maruti Celerio,N/A,Diesel,"80,000 Kms",2523,Manual,22.32,126.32,259.8,,Sleek Silver,4 Speed,,,,,,,,,,,,5 Lakh*
9996,Hyundai Grand i10,N/A,Petrol,"90,000 Kms",998,Manual,23.01,67,91,,White,5 Speed,,,,,,,,,,,,7.50 Lakh*
9997,Toyota Etios Cross,N/A,Petrol,"80,000 Kms",2184,Manual,21,81.86,114.74nm,5,Grey,5 Speed,,,,,,,,-,,,,2.90 Lakh*
9998,Maruti Swift,N/A,Petrol,"40,000 Kms",1248,Manual,20.36,78.9,111.8,,Grey,5 Speed,,,,,,,,,,,,2.80 Lakh*
9999,Maruti Swift,N/A,Diesel,"10,000 Kms",1396,Manual,23,98.96,205,,White,5 Speed,,,,,,,,,,,,4.65 Lakh*

In [233]:
# Saving Batch1 data in excel file
Batch1.to_excel('Oldcars.xlsx', index = False)