Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By

In [2]:
driver = webdriver.Chrome(r'C:\Users\prath\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

C:\Users\prath\AppData\Local\Temp/ipykernel_13012/437299702.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\prath\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [3]:
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job

In [5]:
search_job.send_keys("Data Analyst")

In [6]:
ser_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
ser_loc

In [7]:
ser_loc.send_keys("Bangalore")

In [8]:
ser_bot = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
ser_bot

In [9]:
ser_bot.click()

In [10]:
t_tag = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
t_tag

[<selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="571a13ce-6dc7-4cd8-bd0e-9e02962ae545")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="88b9fd51-b7d1-44cf-b2b2-fdfd6780975b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="294fd6ab-aadb-4da2-99cb-61c1bb69f2c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="013fd781-e062-458a-86f7-36d18fa154c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="dda6474a-3fad-441b-a6e0-2bbceda44ced")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="5bf45447-4b01-4fb1-8487-f98f16e44647")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="590a0eb6-3ddc-4098-994d-cff48f6b1c73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="90cf9fba-f95b-4ebb-bd35-5de2fa52fb0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="9f94cd1d-c5d8-4cc7-894e-91f32229d8fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="820d1a81-ed18-41ec-9aec-65fff21bc1f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="0f5b5873-d816-41ff-b26f-ebfa9a6cbfaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="0d4e17c8-5a35-49c8-a21c-793ff254d9f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="3a915f90-ea27-4aaa-aa7c-6baa79a3e2b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="07feeb8d-336b-4a0f-b7ac-cd8b972fd63a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="85f19982-8b8a-491a-8408-62501a70f92b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="8451406d-808f-4dd4-9f27-82e772fd4aae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="e561b153-d2a8-46e2-b113-95d5d2358300")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="ab12d852-d8b7-41b3-a26e-c545c7fdb9a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="738b1150-52a2-4943-a768-a1fa17298bde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="44936e374526414e72028e088c453377", element="8939ff4c-a697-4da4-83ea-917b4029e32d")>]

In [13]:
job_titles=[]

for i in t_tag[0:10]:
    job_titles.append(i.text)
job_titles

['Data Analyst/Senior Data Analyst',
 'Senior Data Analyst II',
 'Data Analyst',
 'Senior Business Analyst, Data Analytics & Engineering-DATA Engineer',
 'Clinical Data Analyst',
 'Senior Data Analyst',
 'Senior Data Management Analyst',
 'Senior Data Management Analyst',
 'Business Analyst/Data Analyst',
 'Senior Data Analyst']

In [14]:
company = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company)

20

In [15]:
company_name=[]

for i in company[0:10]:
    company_name.append(i.text)
company_name

['Meesho',
 'Flipkart',
 'BYJUS',
 'Artech Infosystems Pvt. Ltd.',
 'Navitas LLP',
 'Walmart',
 'Wells Fargo',
 'Wells Fargo',
 'cliqhr.com',
 'manoramaONLINE']

In [16]:
xp = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(xp)

20

In [17]:
EXP=[]

for i in xp[0:10]:
    EXP.append(i.text)
EXP

['3-6 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '4-8 Yrs',
 '3-8 Yrs',
 '4-7 Yrs',
 '7-12 Yrs',
 '8-13 Yrs',
 '5-10 Yrs',
 '5-10 Yrs']

In [18]:
loc = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc)

20

In [19]:
Loc=[]

for i in loc[0:10]:
    Loc.append(i.text)
Loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Serilingampally',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Chennai, kerala']

In [20]:
df = pd.DataFrame({'Job Titles':job_titles,'company Name':company_name,'Experience':EXP, 'Location':Loc})
df

,Job Titles,company Name,Experience,Location
0,Data Analyst/Senior Data Analyst,Meesho,3-6 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru
2,Data Analyst,BYJUS,2-5 Yrs,Bangalore/Bengaluru
3,"Senior Business Analyst, Data Analytics & Engi...",Artech Infosystems Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
4,Clinical Data Analyst,Navitas LLP,3-8 Yrs,"Bangalore/Bengaluru, Chennai"
5,Senior Data Analyst,Walmart,4-7 Yrs,Bangalore/Bengaluru
6,Senior Data Management Analyst,Wells Fargo,7-12 Yrs,"Bangalore/Bengaluru, Serilingampally"
7,Senior Data Management Analyst,Wells Fargo,8-13 Yrs,Bangalore/Bengaluru
8,Business Analyst/Data Analyst,cliqhr.com,5-10 Yrs,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
9,Senior Data Analyst,manoramaONLINE,5-10 Yrs,"Bangalore/Bengaluru, Chennai, kerala"

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [21]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By

In [22]:
driver = webdriver.Chrome(r'C:\Users\prath\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

C:\Users\prath\AppData\Local\Temp/ipykernel_13012/437299702.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\prath\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [23]:
url = 'https://www.naukri.com/'
driver.get(url)

In [24]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job

In [25]:
search_job.send_keys("Data Scientist")

In [26]:
ser_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
ser_loc

In [27]:
ser_loc.send_keys("Bangalore")

In [28]:
ser_bot = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
ser_bot

In [29]:
ser_bot.click()

In [30]:
t_tag = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(t_tag)

20

In [31]:
job_titles=[]

for i in t_tag[0:10]:
    job_titles.append(i.text)
job_titles

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Research and Development -AI/ML -(PhD )',
 'Senior Data Science Engineer',
 'Senior Data Scientist, Personalization',
 'Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Senior Data Scientist',
 'Data Science - Engineering Manager',
 'Data Scientist']

In [32]:
company = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company)

20

In [33]:
company_name=[]

for i in company[0:10]:
    company_name.append(i.text)
company_name

['Wipro',
 'PayU',
 'EXL',
 'Fractal Analytics',
 'Walmart',
 'Schneider Electric',
 'Boston Consulting Group',
 'Baker Hughes',
 'Paytm',
 'UPL']

In [34]:
xp = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(xp)

20

In [35]:
EXP=[]

for i in xp[0:10]:
    EXP.append(i.text)
EXP

['11-21 Yrs',
 '1-3 Yrs',
 '4-8 Yrs',
 '5-9 Yrs',
 '4-7 Yrs',
 '6-9 Yrs',
 '2-5 Yrs',
 '6-8 Yrs',
 '9-13 Yrs',
 '1-4 Yrs']

In [36]:
loc = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc)

20

In [37]:
Loc=[]

for i in loc[0:10]:
    Loc.append(i.text)
Loc

['Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, New Delhi',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru, Noida, Mumbai',
 'Bangalore/Bengaluru, Mumbai (All Areas)']

In [38]:
df = pd.DataFrame({'Job Titles':job_titles,'company Name':company_name,'Experience':EXP, 'Location':Loc})
df

,Job Titles,company Name,Experience,Location
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,11-21 Yrs,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
1,Opportunity For Data Scientist - Female Candid...,PayU,1-3 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
2,Research and Development -AI/ML -(PhD ),EXL,4-8 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
3,Senior Data Science Engineer,Fractal Analytics,5-9 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
4,"Senior Data Scientist, Personalization",Walmart,4-7 Yrs,Bangalore/Bengaluru
5,Data Scientist,Schneider Electric,6-9 Yrs,Bangalore/Bengaluru
6,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"Bangalore/Bengaluru, New Delhi"
7,Senior Data Scientist,Baker Hughes,6-8 Yrs,"Bangalore/Bengaluru, Mumbai"
8,Data Science - Engineering Manager,Paytm,9-13 Yrs,"Bangalore/Bengaluru, Noida, Mumbai"
9,Data Scientist,UPL,1-4 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [39]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By

In [40]:
driver = webdriver.Chrome(r'C:\Users\prath\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

C:\Users\prath\AppData\Local\Temp/ipykernel_13012/437299702.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\prath\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [42]:
url = 'https://www.naukri.com/'
driver.get(url)

In [43]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job

In [44]:
search_job.send_keys("Data Scientist")

In [45]:
ser_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
ser_loc

In [46]:
ser_loc.send_keys("Delhi")

In [47]:
ser_bot = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
ser_bot

In [50]:
ser_bot.click()

In [54]:
sal = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
sal

In [55]:
sal.click()

In [56]:
loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[13]/div[2]/div[3]/label/i')
loc

In [57]:
loc.click()

In [58]:
t_tag = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(t_tag)

20

In [59]:
job_titles=[]

for i in t_tag[0:10]:
    job_titles.append(i.text)
job_titles

['DigitalBCG GAMMA Data Scientist',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist - Machine learning AI',
 'Data Scientist',
 'Data Scientist - Engine Algorithm',
 'Data Scientist - MIND Infotech',
 'Data Scientist - Predictive Analytics',
 'Data Scientist',
 'Data Scientist - Internet Jobs - II',
 'Data Scientist']

In [60]:
company = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company)

20

In [61]:
company_name=[]

for i in company[0:10]:
    company_name.append(i.text)
company_name

['Boston Consulting Group',
 'EXL',
 'Teq Analytics',
 'SS Supply Chain Solutions Pvt. Ltd. (3SC)',
 'Primo Hiring',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Confidential',
 'Sydata Consulting India Pvt Ltd',
 'Jobs Territory',
 'Kellton Tech Solutions Limited']

In [62]:
xp = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(xp)

20

In [63]:
EXP=[]

for i in xp[0:10]:
    EXP.append(i.text)
EXP

['2-5 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '4-8 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '3-6 Yrs']

In [64]:
loc = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc)

20

In [65]:
Loc=[]

for i in loc[0:10]:
    Loc.append(i.text)
Loc

['New Delhi, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Noida',
 'Noida, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Coimbatore, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Gurgaon/Gurugram']

In [67]:
df = pd.DataFrame({'Job Titles':job_titles,'company Name':company_name,'Experience':EXP, 'Location':Loc})
df

,Job Titles,company Name,Experience,Location
0,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
1,Data Scientist - Noida/Bangalore,EXL,5-10 Yrs,"Noida, Bangalore/Bengaluru"
2,Data Scientist - Machine learning AI,Teq Analytics,3-8 Yrs,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ..."
3,Data Scientist,SS Supply Chain Solutions Pvt. Ltd. (3SC),2-5 Yrs,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru"
4,Data Scientist - Engine Algorithm,Primo Hiring,1-3 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
5,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
6,Data Scientist - Predictive Analytics,Confidential,1-6 Yrs,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera..."
7,Data Scientist,Sydata Consulting India Pvt Ltd,3-8 Yrs,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ..."
8,Data Scientist - Internet Jobs - II,Jobs Territory,3-6 Yrs,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ..."
9,Data Scientist,Kellton Tech Solutions Limited,3-6 Yrs,Gurgaon/Gurugram

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [69]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By

In [70]:
driver = webdriver.Chrome(r'C:\Users\prath\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

C:\Users\prath\AppData\Local\Temp/ipykernel_13012/437299702.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\prath\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [71]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [73]:
search = driver.find_element(By.CLASS_NAME,"_3704LK")
search

In [74]:
search.send_keys("sunglasses")

In [76]:
ser_bot = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
ser_bot

In [77]:
ser_bot.click()

In [79]:
product = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(product)

40

In [80]:
Product=[]

for i in product:
    Product.append(i.text)
Product

['PIRASO',
 'PIRASO',
 'New Specs',
 'SRPM',
 'Fastrack',
 'Fastrack',
 'DAHAAZIL',
 'PIRASO',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'PIRASO',
 'Lee Topper',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'CRYSTAL CART',
 'PIRASO',
 'New Specs',
 'kingsunglasses',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'Fastrack',
 'Mi',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'Sewell',
 'VINCENT CHASE',
 'PIRASO',
 'CRYSTAL CART',
 'Elligator',
 'kingsunglasses',
 'ROZZETTA CRAFT']

In [82]:
product_dis = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(product_dis)

40

In [83]:
Product_dis=[]

for i in product_dis:
    Product_dis.append(i.text)
Product_dis

['UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'UV Protection Retro Square Sunglasses (64)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Over-sized Sunglasses (64)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Over-sized Sunglasses (64)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Over-sized Sunglasses (64)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (60)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'by Lenskart UV Protection Clubmaster Sunglasses (55)',
 'UV Protection Butterfly Sunglasses (60)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...']

In [84]:
price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price)

40

In [86]:
Price=[]

for i in price:
    Price.append(i.text)
Price

['₹368',
 '₹439',
 '₹264',
 '₹224',
 '₹799',
 '₹639',
 '₹197',
 '₹439',
 '₹359',
 '₹195',
 '₹224',
 '₹439',
 '₹229',
 '₹224',
 '₹306',
 '₹439',
 '₹259',
 '₹349',
 '₹499',
 '₹439',
 '₹719',
 '₹1,039',
 '₹189',
 '₹199',
 '₹299',
 '₹213',
 '₹226',
 '₹399',
 '₹299',
 '₹759',
 '₹799',
 '₹399',
 '₹329',
 '₹265',
 '₹949',
 '₹405',
 '₹529',
 '₹219',
 '₹214',
 '₹449']

In [87]:
nxt_bot = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
nxt_bot

In [88]:
nxt_bot.click()

In [90]:
product2 = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(product2)

40

In [91]:
Product2=[]

for i in product2:
    Product2.append(i.text)
Product2

['Fastrack',
 'Elligator',
 'kingsunglasses',
 'PIRASO',
 'kingsunglasses',
 'SUNBEE',
 'VINCENT CHASE',
 'PIRASO',
 'PIRASO',
 'kingsunglasses',
 'Lee Topper',
 'PIRASO',
 'New Specs',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'SRPM',
 'PIRASO',
 'PIRASO',
 'SRPM',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'SRPM',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'LIZA ANGEL',
 'DEIXELS',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'New Specs',
 'New Specs',
 'ROZZETTA CRAFT']

In [92]:
product_dis2 = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(product_dis2)

40

In [93]:
Product_dis2=[]

for i in product_dis2:
    Product_dis2.append(i.text)
Product_dis2

['UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Retro Square Sunglasses (64)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (64)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (64)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Over-sized Sunglasses (64)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...']

In [94]:
price2 = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price2)

40

In [95]:
Price2=[]

for i in price2:
    Price2.append(i.text)
Price2

['₹1,039',
 '₹219',
 '₹214',
 '₹306',
 '₹329',
 '₹283',
 '₹949',
 '₹439',
 '₹410',
 '₹269',
 '₹219',
 '₹439',
 '₹268',
 '₹319',
 '₹719',
 '₹439',
 '₹246',
 '₹899',
 '₹379',
 '₹439',
 '₹721',
 '₹219',
 '₹246',
 '₹439',
 '₹249',
 '₹809',
 '₹599',
 '₹399',
 '₹379',
 '₹233',
 '₹719',
 '₹226',
 '₹499',
 '₹179',
 '₹236',
 '₹199',
 '₹279',
 '₹189',
 '₹214',
 '₹399']

In [96]:
nxt_bot2 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
nxt_bot2

In [97]:
nxt_bot2.click()

In [98]:
product3 = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(product3)

40

In [99]:
Product3=[]

for i in product3[0:20]:
    Product3.append(i.text)
Product3

['Ray-Ban',
 'ROYAL SON',
 'AISLIN',
 'New Specs',
 'OAKLEY',
 'GANSTA',
 'style guru',
 'Ray-Ban',
 'john jacobs',
 'Ray-Ban',
 'GANSTA',
 'ROYAL SON',
 'AISLIN',
 'Ray-Ban',
 'Elligator',
 'AISLIN',
 'Ray-Ban',
 'ROYAL SON',
 'GANSTA',
 'Fastrack']

In [100]:
product_dis3 = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(product_dis3)

40

In [101]:
Product_dis3=[]

for i in product_dis3[0:20]:
    Product_dis3.append(i.text)
Product_dis3

['Others Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (64)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'HOLBROOK Wayfarer Sunglass',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Clubmaster Sunglasses (47)',
 'UV Protection Wayfarer Sunglasses (50)',
 'Riding Glasses, Gradient Aviator Sunglasses (57)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (53)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Riding Glasses Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (52)']

In [102]:
price3 = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price3)

40

In [103]:
Price3=[]

for i in price3[0:20]:
    Price3.append(i.text)
Price3

['₹9,907',
 '₹664',
 '₹675',
 '₹213',
 '₹7,037',
 '₹314',
 '₹319',
 '₹7,369',
 '₹4,000',
 '₹9,799',
 '₹323',
 '₹379',
 '₹498',
 '₹10,429',
 '₹229',
 '₹675',
 '₹8,629',
 '₹474',
 '₹356',
 '₹969']

In [104]:
Final_price = Price + Price2 + Price3

In [109]:
len(Final_price)

100

In [106]:
total_product = Product + Product2 + Product3

In [107]:
len(total_product)

100

In [108]:
all_dis = Product_dis +Product_dis2 + Product_dis3
len(all_dis)

100

In [110]:
df = pd.DataFrame({'Brand':total_product,'Product Description':all_dis,'Price':Final_price})
df

        Brand                                Product Description   Price
0      PIRASO  UV Protection Rectangular, Over-sized Sunglass...    ₹368
1      PIRASO         UV Protection Retro Square Sunglasses (64)    ₹439
2   New Specs   UV Protection Rectangular Sunglasses (Free Size)    ₹264
3        SRPM             UV Protection Wayfarer Sunglasses (50)    ₹224
4    Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹799
..        ...                                                ...     ...
95     AISLIN  UV Protection, Gradient Butterfly, Over-sized ...    ₹675
96    Ray-Ban                UV Protection Round Sunglasses (53)  ₹8,629
97  ROYAL SON         UV Protection Retro Square Sunglasses (58)    ₹474
98     GANSTA  UV Protection, Riding Glasses Aviator Sunglass...    ₹356
99   Fastrack                UV Protection Round Sunglasses (52)    ₹969

[100 rows x 3 columns]

In [111]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By

In [112]:
driver = webdriver.Chrome(r'C:\Users\prath\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

C:\Users\prath\AppData\Local\Temp/ipykernel_13012/437299702.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:\Users\prath\Downloads\Compressed\chromedriver_win32\chromedriver.exe')

In [114]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [115]:
search = driver.find_element(By.CLASS_NAME,"_3704LK")
search

In [116]:
search.send_keys("i phone 11")

In [117]:
ser_bot = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
ser_bot

In [118]:
ser_bot.click()

In [119]:
iphone = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]")
iphone

In [120]:
iphone.click()

In [271]:
url = 'https://www.flipkart.com/apple-iphone-11-black-128-gb/product-reviews/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8X0KYUG&marketplace=FLIPKART'
driver.get(url)

In [272]:
Rate= driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(Rate)

10

In [273]:
rate=[]

for i in Rate:
    rate.append(i.text)
rate

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [274]:
Com = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(Com)

10

In [275]:
com=[]

for i in Com:
    com.append(i.text)
com

['Simply awesome',
 'Highly recommended',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended']

In [276]:
Ful_rev = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
len(Ful_rev)

10

In [277]:
ful_rev=[]

for i in Ful_rev:
    ful_rev.append(i.text)
ful_rev

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !']

In [278]:
nex = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
nex

In [279]:
nex.click()

In [280]:
Rate2= driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(Rate2)

10

In [281]:
rate2=[]

for i in Rate2:
    rate2.append(i.text)
rate2

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [282]:
Com2 = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(Com2)

10

In [283]:
com2=[]

for i in Com2:
    com2.append(i.text)
len(com2)

10

In [284]:
Ful_rev2 = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
len(Ful_rev2)

10

In [285]:
ful_rev2=[]

for i in Ful_rev2:
    ful_rev2.append(i.text)
len(ful_rev2)

10

In [286]:
nex = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
nex

In [287]:
nex.click()

In [288]:
Rate3= driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(Rate3)

10

In [289]:
rate3=[]

for i in Rate3:
    rate3.append(i.text)
len(rate3)

10

In [290]:
Com3 = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(Com3)

10

In [291]:
com3=[]

for i in Com3:
    com3.append(i.text)
len(com3)

10

In [292]:
Ful_rev3 = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
len(Ful_rev3)

10

In [293]:
ful_rev3=[]

for i in Ful_rev3:
    ful_rev3.append(i.text)
len(ful_rev3)

10

In [294]:
nex = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
nex

In [295]:
nex.click()

In [296]:
Rate4= driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
len(Rate4)

10

In [297]:
rate4=[]

for i in Rate4:
    rate4.append(i.text)
len(rate4)

10

In [298]:
Com4 = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
com4=[]

for i in Com4:
    com4.append(i.text)
len(com4)

10

In [299]:
Ful_rev4 = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
ful_rev4=[]

for i in Ful_rev4:
    ful_rev4.append(i.text)
len(ful_rev4)

10

In [300]:
nex = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
nex

In [301]:
nex.click()

In [302]:
Rate5= driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
rate5 = []
for i in Rate5:
    rate5.append(i.text)
len(rate5)

9

In [303]:
rate5.append(1)

In [304]:
len(rate5)

10

In [305]:
Com5 = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
com5=[]

for i in Com5:
    com5.append(i.text)
len(com5)

10

In [306]:
Ful_rev5 = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
ful_rev5=[]

for i in Ful_rev5:
    ful_rev5.append(i.text)
len(ful_rev5)

10

In [307]:
total_rating = rate + rate2  + rate4 + rate5 +rate3

In [308]:
len(total_rating)

50

In [309]:
total_com = com +com2 +com3 +com4 +com5

In [310]:
len(total_com)

50

In [311]:
total_rev = ful_rev +ful_rev2 + ful_rev3 + ful_rev4 + ful_rev5

In [312]:
len(total_rev)

50

In [313]:
df = pd.DataFrame({'Rating':total_rating,'Review summary':total_com,'Full Review':total_rev})
df

,Rating,Review summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Highly recommended,What a camera .....just awesome ..you can feel...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
5,5,Fabulous!,This is my first iOS phone. I am very happy wi...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
8,4,Good choice,So far it’s been an AMAZING experience coming ...
9,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
10,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
11,5,Highly recommended,It's my first time to use iOS phone and I am l...
12,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
13,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
14,5,Perfect product!,It is just awesome mobile for this price from ...
15,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
16,5,Terrific,Really worth of money. i just love it. It is t...
17,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
18,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
19,5,Classy product,Totally in love with this ❤ the camera quality...
20,5,Wonderful,This is my first ever I phone. Before this I w...
21,5,Worth every penny,It’s been almost a month since I have been usi...
22,5,Good choice,Looking so good 👍 😍 super 👌 stylish 😎 phone\nC...
23,5,Perfect product!,"Battery backup is extraordinary, camera is dec..."
24,5,Nice product,Awesome Phone. Slightly high price but worth. ...
25,5,Classy product,We are on apple ecosystem for almost eight yea...
26,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
27,5,Classy product,Superb Product !!!\nA big and worthy upgrade f...
28,5,Must buy!,It’s an amazing product from apple and the cam...
29,5,Simply awesome,It's very high performances devise i am like t...
30,5,Perfect product!,After 1 month use I found camera quality best ...
31,5,Fabulous!,awesome phone to have. it has got many smart f...
32,5,Great product,Again back to apple iphone after a gap of 2-3 ...
33,4,Fabulous!,I can say I'm damn impressed with iPhone 11. A...
34,5,Wonderful,I just directly switch from iphone 6s to iphon...
35,5,Classy product,Well while switching from android to iOS the f...
36,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
37,5,Awesome,I am using this phone for 5 days and its one o...
38,5,Excellent,Amazing camera and feel super machine I am not...
39,1,Great product,Well you all know the specifications . One of ...
40,5,Terrific purchase,The built quality is not very premium.\nThe ba...
41,5,Mind-blowing purchase,This will help you more. See if you are planni...
42,4,Simply awesome,Really good actually this is my first apple pr...
43,5,Good quality product,it is very good at performance. Camera is best...
44,4,Very poor,Reviewing again after 5 months. At the beginni...
45,5,Perfect product!,"In love with this iphone great performance,cam..."
46,5,Fabulous!,Everything is perfect pictures come out so cle...
47,5,Highly recommended,"Amazing camera quality as expected, battery al..."
48,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."
49,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...